.header-group__wrap {
    @include vercen;
    margin-left: 70px;

    img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    img:last-child {
        margin-right: 28px;
    }
}