.select__body--active {
    display: block;
    padding: 20px;
    margin: 2px -20px;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(157, 160, 166, 0.15);
    border-radius: 8px;
}