.select__header {
    display: flex;
    width: 126px;
    margin-top: 27px;
}

.select__header img {
    margin-top: 4px;
    width: 8px;
    height: 8px;
    margin-left: 8px;
    cursor: pointer;
}